<h1> "Greetings <%=@player1 %> and <%=@player2 %>. Get Ready to Battle </h1>

  <h2> "<%=@player1 %> has 100 hitpoints" </h2>
  <h2> "<%=@player2 %> has 100 hitpoints" </h2>
<form action = '/attack'>
  <button type='submit' value="Attack">Attack!
  </button>
</form>
